{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center">Ваша корзина</h3>
    <br>
    {% if cart.items.count > 0 %}
        <div class="my-cart">
            <table class="table">
                <tr>
                    <td class="text-center"><strong>Товар</strong></td>
                    <td class="text-center"><strong>Количество</strong></td>
                    <td class="text-center"><strong>Цена</strong></td>
                    <td class="text-center"></td>
                </tr>
            {% for item in cart.items.all %}
                <tr class="cart-item-{{ item.product.id }}">
                    <td class="text-center">{{ item.product.title }}</td>
                    <td class="text-center">
                        <form action="" method="GET">
                            <input type="number" name="quantity" class="cart-item-quantity" data-id="{{ item.id }}" value="{{ item.quantity }}" min="1" style="width: 50px;">
                        </form>
                    </td>
                    <td class="text-center" id="cart-item-total-{{ item.id }}">{{ item.item_total }} руб.</td>
                    <td class="text-center">
                        <a href="#" class="remove_from_cart" data-slug="{{ item.product.slug }}" data-id="{{ item.product.id }}">
                            <button class="btn btn-default">Удалить из корзины</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <td class="text-center"><strong>Итого: </strong></td>
                    <td class="text-center" id="cart_total_price"><strong>{{ cart.cart_total }} руб.</strong></td>
                    <td></td>
                </tr>
            </table>
            <br>
            <a href="{% url 'checkout' %}" class="pull-right">
                <button class="brn btn-info">Предварительный заказ</button>
            </a>
        </div>
    {% else %}
        <h3 class="text-center">Ваша корзина пуста</h3>
    {% endif %}
    <h3 class="text-center cart-empty" style="display:none;">Ваша корзина пуста</h3>
    <script>
        $(document).ready(function(){
            $('.remove_from_cart').on('click', function(e){
                e.preventDefault(); // Turn off standart actions
               product_slug = $(this).attr('data-slug');
               item_product_id = $(this).attr('data-id');
                data = {
                   product_slug: product_slug
               };
               $.ajax(
                   {
                       type: "GET",
                       url: "{% url 'remove_from_cart' %}",
                       data: data,
                       success: function(data){
                           $('#cart_count').html(data.cart_total);
                           $('.cart-item-' + item_product_id).css('display', 'none');
                           $('#cart_total_price').html('<strong>'+parseFloat(data.cart_total_price).toFixed(2)+' руб. </strong>')
                           if(parseInt(data.cart_total) == 0){
                               $('.my-cart').css('display', 'none');
                               $('.cart-empty').css('display', 'block');
                           }
                       }
                   }
               );
            });
        });

        $(document).ready(function(){
            $('.cart-item-quantity').on('click', function(){
                quantity = $(this).val();
                item_id = $(this).attr('data-id');
                data = {
                    quantity: quantity,
                    item_id: item_id
                };
                $.ajax(
                    {
                        type: "GET",
                        url: "{% url 'change_item_quantity' %}",
                        data: data,
                        success: function(data){
                            $('#cart-item-total-' + item_id).html(parseFloat(data.item_total).toFixed(2) + ' руб.'); // parseFloat - transforms item_total to Float, toFixed - shows amount number after comma
                            $('#cart_total_price').html('<strong>'+parseFloat(data.cart_total_price).toFixed(2)+' руб. </strong>')
                        }
                    }
                );
            });
        });
    </script>
{% endblock content %}
