{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-12">
        <h2>{{ category.name }}</h2>
        <hr>
        {% for product in products_of_category %}
            <div class="col-sm-4" style="margin-top: 20px;">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.big_image.url }}" alt="" style="width:100%; height: 200px;"></a>
                <h4 class="text-center"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
                <p class="text-center" style="font-size:25px;"><strong>{{ product.price }} руб.</strong></p>
                {% if request.user.is_authenticated %}
                    <p class="text-center"><a href="#" class="add_to_cart" data-slug="{{ product.slug }}"><button class="btn btn-danger">Добавить в корзину</button></a></p>
                {% else %}
                    <p class="text-center">Заказывать товар могут только авторизованные пользователи. Пожалуйста, <a
                    href="#">войдите</a> или <a href="#">зарегистрируйтесь</a></p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <script>
        $(document).ready(function(){
            $('.add_to_cart').on('click', function(e){
                e.preventDefault() // Turn off standart actions
               product_slug = $(this).attr('data-slug');
               data = {
                   product_slug: product_slug
               };
               $.ajax(
                   {
                       type: "GET",
                       url: '{% url "add_to_cart" %}',
                       data: data,
                       success: function(data){
                           $("#cart_count").html(data.cart_total);
                       }
                   }
               );
            });
        });
    </script>
{% endblock content %}