{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <form action="{% url 'make_order' %}" method="POST">
        {% csrf_token %}
        <div class="col-sm-4">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="col-sm-4">
            {{ form.last_name|as_crispy_field }}
        </div>
        <div class="col-sm-4">
            {{ form.phone|as_crispy_field }}
        </div>
        {{ form.buying_type|as_crispy_field }}
        {{ form.address|as_crispy_field }}
        {{ form.date|as_crispy_field}}
        {{ form.comments|as_crispy_field }}
        <input type="submit" class="btn btn-success" value="Оформить заказ">
    </form>
    <script>
        $(document).ready(function(){
            $('#div_id_address').css('display', 'none');
            $('#id_buying_type').on('click', function(){
                buying_type = $(this).val();
                if(buying_type == 'delivery') {
                    $('#div_id_address').css('display', 'block');
                } else {
                    $('#div_id_address').css('display', 'none');
                }
            });
            $('#id_date_month').css('width', '100px');
            $('#id_date_month').css('display', 'inline');
            $('#id_date_month').css('margin-right', '5px');
            $('#id_date_year').css('width', '200px');
            $('#id_date_year').css('display', 'inline');
            $('#id_date_year').css('margin', '5px');
            $('#id_date_day').css('width', '100px');
            $('#id_date_day').css('display', 'inline');
            $('#id_date_day').css('margin', '5px');
        });
    </script>
{% endblock content %}