{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-4">
        <img src="{{ product.big_image.url }}" alt="" style="width:100%; height:100%;">
    </div>
    <div class="col-sm-8">
        <h3 class="text-center">{{ product.title }}</h3>
        <p>{{ product.description }}</p>
        <hr>
        <p style="font-size:25px;">Цена: <strong>{{ product.price }}</strong></p>
        {% if request.user.is_authenticated %}
            <a href="#" class="add_to_cart" data-slug="{{ product.slug }}"><button class="btn btn-danger">Добавить в корзину</button></a>
        {% else %}
            <p class="text-center">Заказывать товар могут только авторизованные пользователи. Пожалуйста, <a
                    href="{% url "login" %}">войдите</a> или <a href="{% url "registration" %}">зарегистрируйтесь</a></p>
        {% endif %}
    </div>
    <script>
        $(document).ready(function(){
            $('.add_to_cart').on('click', function(e){
                e.preventDefault() // Turn off standart actions
               product_slug = $(this).attr('data-slug');
               data = {
                   product_slug: product_slug
               };
               $.ajax(
                   {
                       type: "GET",
                       url: '{% url "add_to_cart" %}',
                       data: data,
                       success: function(data){
                           $("#cart_count").html(data.cart_total);
                       }
                   }
               );
            });
        });
    </script>
{% endblock content %}