{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h3 class="text-center">Регистрация нового пользователя</h3>
    <hr>
    <div class="col-sm-8 col-sm-offset-2">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy}}
            <input type="submit" class="btn btn-success btn-block" value="Зарегистрироваться">
        </form>
    </div>
{% endblock content %}