{% extends 'base.html' %}

{% block content %}

    <div class="col-sm-8 col-sm-offset-2">
        <h3 class="text-center">
            Спасибо за Ваш заказ! Он принят в обработку. В ближайшее время менеджер с Вами свяжется.
        </h3>
        <p class="text-center">
            <a href="/"><button class="btn btn-default">Вернуться к покупкам</button></a>
        </p>
    </div>

{% endblock content %}